* text=auto eol=lf
*.py text eol=lf
*.md text eol=lf
*.html text eol=lf
*.ttl text eol=lf
*.owl text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.ps1 text eol=crlf
*.png binary
*.jpg binary
*.wav binary
*.woff2 binary
